*
!/.ddev
!/.ddev/**
!/.gitignore
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/composer.json
!/composer.lock
!/db
!/db/base.sql.gz
!/README.md
!/dev/tests/integration/phpunit.xml
!/dev/tests/integration/etc/config-global.php
!/package-lock.json
!/package.json
!/pub/.user.ini
!/Gruntfile.js
!/grunt-config.json
!/dev/tools/grunt/configs/requirejs.json
!/Makerun
